<%= content_for :head do %>
  <%= javascript_include_tag 'page' %>
<% end %>

<header>
  <div>
    <%= image_tag 'front.png' %>        
  </div>
</header>
<main>
  <div class="upload-time">
    <p>上传时间 2017-08-08</p>
  </div>

  <div class="presentation">
    <p class="box-tip">虚线框内为可编辑的元素</p>
    <p class="tips">购买此海报后您可以对其进行编辑</p>
    <%= image_tag 'front.png' %> 
  </div>

  <div class="post-info">
    <div class="left">
      <p class="price">¥<span class="capital">9</span>.9 <span class="previous">原价 199 元</span></p>
      <p class="title">关注微信预约 店铺活动 J159</p>
      <p class="count">1779 <span>|</span> 88 人购买</p>      
    </div>
    <div class="size">
      <h3>尺寸</h3>
      <span>60 cm</span>
      <div>
        <span>90 cm</span>
      </div>
    </div>
  </div>

  <div class="float-cart">
    <a href="#">
      <img src="https://f2e-asset.huo365.cn/assets/wechat/nav/shopping_cart_slt-d7187aeb7cdfb4d84a302946234bb236f5a523db878552dfce8d1e5b0c79b0e6.png">
    </a>
  </div>

  <div class="reminder">
    <h2>使用注意事项</h2>
    <ol>
      <li>海报超市的所有海报购买后，都可在火铺平台自行完成编辑。</li>
      <li>海报编辑完成后，可保存至手机或下载电子稿进行打印。</li>
      <li>海报在打印时可等比例放大（不超过2倍）或缩小（不超过1/2倍）。</li>
      <li>海报素材及文字由您提供，确保提供的内容不侵犯他人权益。</li>
      <li>由于海报属于个性化设计类商品，设计完成后不支持退款。</li>
    </ol>
  </div>

  <div class="end">
    <p>老板～已经到底啦～</p>
  </div>
</main>

<footer>
  <div class="nav">
    <ul>
      <li class="front"><a>首页</a></li><!--
      --><li class="consult"><a>咨询</a></li><!--
      --><li class="to-cart"><a>加入购物车</a></li><!--
      --><li class="buy"><a>立即购买</a></li>
    </ul>
  </div>
</footer>
